
*{
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
   
}
.navbar-brand{
    font-size: 0;
}
body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    
}
.navbar-custom {
    font-weight: 500;
    font-size: 1rem;
  }



.carousel-inner img{
    max-height: 39rem;

}

.txt-unico{
    color: #191919;
    font-weight: 800;
}

#row-1{
    background-color: #191919;
    color: white;
}

.close {
    font-size: 1.5rem;
  }
  
  .col-12 img {
    opacity: 0.7;
    cursor: pointer;
    margin: 2rem;
    width: 100%;
  }
  
  .col-12 img:hover {
    opacity: 1;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

 span{
    color: #f7f7f7;
  }

#redes{
  color:black
}